body {
  margin: 0;
  padding: 0;
}

.table-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.table-body td {
  padding: 10px;
  font-size: 25px;
  border-bottom: 1px solid gray;
  font-family: "Times New Roman", Times, serif;
  color:#82837E;
}

.table-head th {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.heading {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
  text-transform: capitalize;
  color:#473F39;
  font-size: 40px;
  border-bottom: 1px solid #b5b3b3;
  width: 70%;
  display: flex;
  margin-left: 10%;
  padding-bottom: 50px;
}

.button-container {
  display: flex;
  padding: 7px;
  border-bottom: 1px solid gray;
}

.edit-button {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #61BCE0;
  color: white;
  cursor: pointer;
}

.delete-button {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #D25751;
  color: white;
  cursor: pointer;
}

.input-container {
  font-size: 40px;
  width: 100%;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 5px;
  width: 400px;
}

.input-box span {
  font-size: 20px;
  background-color: #EEEEEE;
  padding: 12px 15px;
  display: flex;
  align-items: center;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  box-sizing: border-box;
}

.add-button {
  font-size: 22px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #63B262;
  color: white;
  cursor: pointer;
}

.cancel-button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  color: black;
  cursor: pointer;
}
.search-container input{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}